<%- include('./base/header.ejs') %>
<div class="container">
  <div class="alert text-center bg-primary my-3 w-30" style="color: white">
    <h4>Edit Student</h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <form action="/edit/student/<%= student._id %>" method="post">
          <div class="">
            <label class="form-label">RollNo</label>
            <input type="text" placeholder="Enter your rollNo" class="form-control" name="rollNo" value="<%= student.rollNo %>"/>
          </div>
          <div class="">
            <label class="form-label">Student Name</label>
            <input type="text" placeholder="Enter your student name" class="form-control" name="studentName" value="<%= student.studentName %>"/>
          </div>
          <div class="">
            <label class="form-label">Father Name</label>
            <input type="text" placeholder="Enter your fatherName" class="form-control" name="fatherName" value="<%= student.fatherName %>"/>
          </div>
          <div class="">
            <label class="form-label">Mother Name</label>
            <input type="text" placeholder="Enter your motherName" class="form-control" name="motherName" value="<%= student.motherName %>"/>
          </div>
          <div>
            <label class="form-label">Course</label>
            <input type="text" placeholder="Select your course" class="form-control" name="course" value="<%= student.course %>">
            <!-- <select class="form-control" name="course" >
              <option value="">--Choose course--</option>
              <option value="">B-TECH</option>
              <option value="">M-TECH</option>
              <option value="">Bca</option>
              <option value="">MCA</option>
              <option value="">BCOM</option>
              <option value="">BBA</option>
              <option value="">MBA</option>
            </select> -->
          </div>
          <div>
            <label class="form-label">Branch</label>
            <input type="text" placeholder="Enter your Branch" class="form-control" name="branch" value="<%= student.branch %>"/>
            <!-- <select class="form-control" name="branch" >
              <option value="">--Choose branch--</option>
              <option value="">CSE</option>
              <option value="">AI-ML</option>
              <option value="">DATA SCIENCE</option>
              <option value="">IOT</option>
              <option value="">MECHINICAL</option>
              <option value="">CIVIL</option>
              <option value="">ELECTRICAL</option>
            </select> -->
          </div>
          <div>
            <label class="form-label">yearOfAddmission</label>
            <input type="text" placeholder="Enter your yearOfAddmission" class="form-control" name="yearOfAddmission" value="<%= student.yearOfAddmission %>"/>
          </div>
          <div>
            <button type="submit" value="Login" class="btn btn-warning w-100 my-3">Edit Student</button>
          </div>
        </form>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
<%- include('./base/footer.ejs') %>